{% extends "base.html" %}

{% block content %}
<h1>My Stories</h1>
<button class="success" onclick="location.href=`{{ url_for('create_story') }}`">
    Create New Story
</button>

{% if stories %}
    <input type="text" id="searchBar" class="my-2" placeholder="Search stories by title..." onkeyup="filterStories()">
    {% for story in stories %}
        <details id="story-{{ story.id }}" class="story">
            <summary>{{ story.title }}</summary>
            {{ story.story | safe }}
            <button class="danger" onclick="deleteStory({{ story.id }})">
                X
            </button>
        </details>
    {% endfor %}
    <p id="noStories" style="display: none;">
        No such story available. You can <a href="{{ url_for('create_story') }}">create a story</a>.
    </p>
{% else %}
    <p>No stories available. <b>Create a story</b> to view it here.</p>
{% endif %}
<hr />

<script>
    function deleteStory(storyId) {
        fetch(`/delete_story/${storyId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => {
            if (response.status === 204) {
                document.getElementById(`story-${storyId}`).remove();
            } else {
                alert('Failed to delete story');
            }
        });
    }

    function filterStories() {
        var input = document.getElementById('searchBar');
        var filter = input.value.toLowerCase();
        var stories = document.getElementsByClassName('story');
        var anyVisible = false;

        for (var i = 0; i < stories.length; i++) {
            var title = stories[i].getElementsByTagName('summary')[0].textContent || stories[i].getElementsByTagName('summary')[0].innerText;
            if (title.toLowerCase().indexOf(filter) > -1) {
                stories[i].style.display = "";
                anyVisible = true;
            } else {
                stories[i].style.display = "none";
            }
        }

        document.getElementById('noStories').style.display = anyVisible ? 'none' : '';
    }

    function checkVisibleStories() {
        var stories = document.getElementsByClassName('story');
        var anyVisible = false;

        for (var i = 0; i < stories.length; i++) {
            if (stories[i].style.display !== 'none') {
                anyVisible = true;
                break;
            }
        }

        document.getElementById('noStories').style.display = anyVisible ? 'none' : '';
    }
</script>

{% endblock %}
